body {
  background: #000;
  display: flex;
}

img {
  width: 800px;
  height: auto;
  margin-top: 5;
  margin-bottom: 5;
  object-fit: cover;
}

.images {
  display: block;
  max-width: 800px;
  margin: auto;
}
